.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 300px;
	margin: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
  }
  
  .card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
  }
  
  .card-content {
	padding: 20px;
	text-align: center;
  }
  
  .card-title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #2196F3;
  }
  
  .card-text {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
  }
  
  .card-button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #2196F3;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  }
  
  .card-button:hover {
	background-color: #1976D2;
  }
  