<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/homepage.css" />
    <link rel="icon" type="image/x-icon" href="../static/images/Learnly.png" />
    <title>LEARNLY</title>
  </head>
  <body>
    <!--Sign In and Sign Up pages for Teacher and Student-->
    <!--select Log In or Sign Up-->
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="card">
      <img src="../static/images/learnlyHome.png" alt="Card Image" />

      <div class="card-content">
        <h1>HI, WELCOME TO</h1>
        <h1>LEARNLY.</h1>
        <h3>ARE YOU NEW TO LEARNLY?</h3>
        <br />
        <div class="button-container">
          <a href="/login-teacher" class="button"><b>Teacher</b></a>
          <a href="/login-student" class="button"><b>Student</b></a>
        </div>
      </div>
    </div>
  </body>
  <script
    type="text/javascript"
    src="{{url_for('static',filename='./js/homepage.js')}}"
  ></script>
</html>
