<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="Learnly.png" />
    <title>LEARNLY | HOME</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../static/styles/student_home.css" />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="Home.html">
              <div class="logo">
                <img src="Logo.ico" alt="Logo" />
              </div>
              <div class="logo1">
                <img src="Learnly1.ico" class="img1" alt="Logo" />
              </div>
            </a>
          </li>

          <li>
            <a href="Home.html">
              <span class="icon">
                <ion-icon name="home"></ion-icon>
              </span>
              <span class="title">Home</span>
            </a>
          </li>

          <li>
            <a href="Teacher dashboard.html">
              <span class="icon">
                <ion-icon name="file-tray-full"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="/logout">
              <span class="icon">
                <ion-icon name="log-out"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu"></ion-icon>
          </div>

          <!--<div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search"></ion-icon>
                    </label>
                </div>
                
                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                    <ion-icon name="chatbox"></ion-icon>
                </div>

                <div class="logo">
                    <img src="Learnly.png" alt="Logo" >
                </div>-->
        </div>
      </div>
    </div>

    <!--module page-->
    <div class="card">
      <div class="poster">
        <img src="module2.png" alt="" />
      </div>

      <div class="details">
        <!--<img src="Learnly.png" class="logo">-->
        <h3>MODULE 01: Object Oriented Programming</h3>
        <!--<div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span>sci-fi</span>
                <span>action</span>
            </div>-->
        <div class="info">
          <p>
            Object-oriented programming (OOP) is a computer programming model
            that organizes software design around data, or objects, rather than
            functions and logic.
          </p>
          <div class="scard">
            <button class="open-btn">Details</button>
          </div>
          <div class="cookie">
            <span class="close">&times;</span>
            <img src="" alt="" />
            <h3>sdfaffdfsdf</h3>
            <p>fffffffff</p>
            <a href="/meeting" class="accept">Join meeting</a>
            <a href="" class="setting">Feedback</a>
          </div>
        </div>
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script type="text/javascript" src="{{url_for('static',filename="./js/student_home.js")}}"></script>

    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>

<!--<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Home.css">
        <script src="Home.js"></script>
        <link rel="icon" type="image/x-icon" href="Learnly.png">
        <title>LEARNLY</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <!--navigation bar
        <nav>
            <a href="#">Home</a>
            <a href="#">Feedback</a>
            <a href="#">Blog</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
            <img src="Learnly.png" alt="Logo" class="logo">
            <div class="animation start-home"></div>
        </nav>
        
        <div class="card">
            <img src="login.jpg" alt="Card Image" >
            <div class="card-content">
                
                
            </div>
        </div>
          
          
    </body>
    </html>-->

<!--Home page
    nav bar
    Home
    Feedback
   logo

    Sidebar
    Home
    Dashboard
    courses
    Log Out

    Box1
    img
    Search bar

        Box2
        A TRUE MENTOR WANTS TO SEE YOU RISE TO THE TOP,
        AND IS WILLING TO LET YOU UNDERSTAND ON THEIR 
        SHOULDERS TO GET THERE.

        Profile Picture

   Module pages
    Bottom to top arrow-->
