<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/images/Learnly.png">
    <title> Sign In | Sign Up </title>
    <link rel="stylesheet" href="../static/styles/signIn.css" />
  </head>
  <body>
    <main>
      <div class="box">
        <p style="color:red;position:absolute;top:570px;left:75px;">{{error_message}}</p>
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="/login-teacher" autocomplete="off" class="sign-in-form" method="post">
              <div class="logo">
                <img src="../static/images/Learnly.png" alt="easyclass" />
                
              </div>

              <div class="heading">
                <h2>WELCOME TO LEARNLY</h2>
                <h6><b>Not registred yet?</b></bNot></h6>
                <a href="#" class="toggle"><b>Sign Up</b></a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    name="username"
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label><b>Username</b></label>
                </div>

                <div class="input-wrap">
                  <input
                    name="password"
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label><b>Password</b></label>
                </div>

                <input type="submit" value="Sign In" class="sign-btn" />
                <!--
                <p class="text">
                  Forgotten your password or you login datails?
                  <a href="#">Get help</a> signing in
                </p>-->
              </div>
            </form>

            <form action="/sign-up" autocomplete="off" class="sign-up-form" method="post">
              <div class="logo">
                <img src="../static/images/Learnly.png" alt="easyclass" />
                
              </div>

              <div class="heading">
                <h2>GET START WITH LEARNLY</h2>
                <h6><b>Already have an account?</b></h6>
                <a href="#" class="toggle"><b>Sign In</b></a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    name="first_name"
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>First Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    name="last_name"
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Last Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    name="email"
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    name="password"
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn" />
                <!--
                <p class="text">
                  By signing up, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>-->
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="./img/image1.png" class="image img-1 show" alt="" />
              <img src="./img/image2.png" class="image img-2" alt="" />
              <img src="./img/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Create a meeting</h2>
                  <h2>Invite students to your class</h2>
                  <h2>Grab the attention of drifters</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script type="text/javascript" src="{{url_for('static',filename="./js/login_teacher.js")}}"></script>
  </body>
</html>